---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
templateEngineOverride: njk
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.url }}/</loc>
    <lastmod>{{ "now" | dateIso }}</lastmod>
  </url>
  {% for item in collections.all %}
  {% if item.url and item.url != "/404/" %}
  <url>
    <loc>{{ site.url }}{{ item.url }}</loc>
    <lastmod>{{ item.date | dateIso }}</lastmod>
  </url>
  {% endif %}
  {% endfor %}
</urlset>
